/* 字体定义规范 */
// 字体大小
$font-size05 : 0.05rem;
$font-size10 : 0.10rem;
$font-size11 : 0.11rem;
$font-size12 : 0.12rem;
$font-size13 : 0.13rem;
$font-size14 : 0.14rem;
$font-size15 : 0.15rem;
$font-size16 : 0.16rem;
$font-size18 : 0.18rem;
$font-size20 : 0.2rem;
$font-size22 : 0.22rem;
$font-size24 : 0.24rem;
$font-size26 : 0.26rem;
$font-size35 : 0.35rem;