@import './base.scss';
*{
    margin:0;
    padding:0;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: $font-size16;
}
input, textarea{
    outline:none;
    border: none;
    font-size: $font-size16;
    background-color: transparent;
}
ul, li{ 
    list-style:none;
}

a{
    text-decoration: none;
}

/* 常用字体大小 */
.font-size11{
    font-size: $font-size11;
}
.font-size12{
    font-size: $font-size12;
}
.font-size13{
    font-size: $font-size13;
}
.font-size14{
    font-size: $font-size14;
}
.font-size15{
    font-size: $font-size15;
}
.font-size16{
    font-size: $font-size16;
}
.font-size18{
    font-size: $font-size18;
}
.font-size20{
    font-size: $font-size20;
}
.font-bold{
    font-weight: bold;
}

/* 定位 */
.position-relative{
    position: relative;
}
.position-static{
    position: static;
}
.position-absolute{
    position: absolute;
    overflow-y: scroll;/*使之可以滚动*/
    -webkit-overflow-scrolling: touch;/* 增加该属性，可以增加弹性 */
}
.position-fixed{
    position: fixed;
}

/* 浮动、清除浮动 */
.float-left{
    float: left;
}
.float-right{
    float: right;
}

/* 分隔条、分隔线、边框 */
.separate{
    width: 100%;
    height: 0.1rem;
    background: #D8D8D8;
    opacity: 0.2;
}

/* overflow */
.hidden{
    overflow: hidden;
}
.hidden-x{
    overflow-x: hidden;
}
.hidden-y{
    overflow-y: hidden;
}

/* 显示、隐藏 */
.show{
    display: block;
}
.hide{
    display: none;
}

/* 可见、不可见 */
.invisible{
    visibility:hidden;
}
.visible{
    visibility:visible;
}

/* 文字对齐方式 */
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
